.DS_Store
node_modules
/dist


# Local environment variables
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.dccache

changes/
changes.txt
audits/

tmp*

# Temporary - Alpha feature
src/views/NewSchedule.vue
src/components/dialogs/NewSchedule/