.color--ca-auhsd-ahs {
  background-color: #1a468f;
  color: #ffffff;
}
.color--ca-auhsd-chs {
  background-color: #a80000;
  color: #ffffff;
}
.color--ca-auhsd-dls {
  background-color: #343254;
  color: #ffffff;
}
