.color--ca-auhsd-ahs {
  background-color: #1a468f;
  color: #ffffff;
}
.color--ca-auhsd-chs {
  background-color: #a80000;
  color: #ffffff;
}
.color--un-average-workday {
  background-color: #188f24;
  color: #ffffff;
}
