.color-auhsd-ahs {
  background-color: #1a468f;
  color: #ffffff;
}
.color-auhsd-chs {
  background-color: #a80000;
  color: #ffffff;
}
.color-average-work-day {
  background-color: #188f24;
  color: #ffffff;
}
