<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Schedules{% if schedule_valid %} | {{ schedule_name }}{% endif %}</title>

		<meta charset="utf-8">
		<meta name="theme-color" content="#13323C">
		<meta name="description" content="The app for all schedules">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
		<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon-180x180.png" />

		<link rel="stylesheet" href="/static/css/all.css">
		<link rel="stylesheet" href="/static/css/center.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body>		
		<header class="w3-container ut-pc-darkblue">
			<h3>
				Schedules
				<div class="w3-right">
					<a href="/changelog" target="_blank">
						<svg style="width:30px;height:30px" viewBox="0 0 24 24">
						    <path fill="#ffffff" d="M13.5,8H12V13L16.28,15.54L17,14.33L13.5,12.25V8M13,3A9,9 0 0,0 4,12H1L4.96,16.03L9,12H6A7,7 0 0,1 13,5A7,7 0 0,1 20,12A7,7 0 0,1 13,19C11.07,19 9.32,18.21 8.06,16.94L6.64,18.36C8.27,20 10.5,21 13,21A9,9 0 0,0 22,12A9,9 0 0,0 13,3" />
						</svg>
						<span id="link-changelog--text">Open Changelog</span>
					</a>
				</div>
			</h3>
		</header>
		{% if not schedule_valid %}
		<main id="schedule_login" class="ut-pt-center">
			<div id="selection" class="ut-pt-centerbox w3-card-4">
				<main style="padding:12px;text-align:center;">
					<select id="schedule_name" name="schedule_name" class="w3-input" onchange="window.location.href='/schedule/'+this.value;">
						<option value="" selected disabled>Select a schedule...</option>
						{% for schedule in schedules %}
							<option value="{{ schedule }}">{{ schedules[schedule] }}</option>
						{% endfor %}
					</select>
					<label for="schedule_name">Select a schedule...</label>
				</main>
			</div>
		</main>
		{% else %}
            <main id="schedule_times" class="ut-pt-center">
                <div id="times" class="ut-pt-centerbox w3-card-4">
                    <header id="schedule_info" class="{% if schedule_color %}color--{{ schedule_color }}{% else %}w3-blue-gray{% endif %}">
                        <h4>
                            <select id="schedule_selection" class="w3-input {% if schedule_color %}color--{{ schedule_color }}{% else %}w3-blue-gray{% endif %}" onchange="window.location.href='/schedule/'+this.value">
				    {% for schedule in schedules %}
				    	{% if schedule == schedule_id %}
						<option value="{{ schedule }}" selected>{{ schedules[schedule] }}</option>
				    	{% else %}
						<option value="{{ schedule }}">{{ schedules[schedule] }}</option>
				        {% endif %}
				    {% endfor %}
			    </select>
			<label for="schedule_selection">{{ schedules[schedule] }}</label>
                            <div id="schedule_datetime" class="w3-right">
                                <span id="date"></span> <span id="time"></span>
                            </div>
                        </h4>
                    </header>
                    <main id="period_info" class="ut-pt-centerbox">
                        <h4 class="w3-row">
                            <div class="w3-half">
                                <span id="period_name"></span>
                            </div>
                            <div class="w3-half">
                                <span id="period_time_remaining"></span>
                            </div>
                        </h4>
                    </main>
                </div>
            </main>

            <script>
                var raw_json = '{{ raw_schedule_json|safe }}',
                    times = JSON.parse(raw_json),
                    d = new Date();
		    
		var period_name_old = "",
		    period_different = false,
		    window_focused = true,
	            fifteen_minute_notification = false,
		    ten_minute_notification = false,
		    five_minute_notification = false,
		    one_minute_notification = false;

                const schedule_id = "{{ schedule_id }}";

                var current_day = d.toLocaleDateString("en-us", { weekday: 'short' }).toUpperCase(),
                    current_time = d.getHours().toString() + d.getMinutes().toString(),
                    current_time_split = d.getHours().toString() + "-" + d.getMinutes().toString() + "-" + d.getSeconds().toString();
                
                function update_current_date() {
                    d = new Date();
			
                    current_day = d.toLocaleDateString("en-us", { weekday: 'short' }).toUpperCase();
                    current_time = d.getHours().toString() + d.getMinutes().toString();
                    current_time_split = d.getHours().toString() + "-" + d.getMinutes().toString() + "-" + d.getSeconds().toString();
                }

                function get_current_period() {
                    if (typeof times[schedule_id][current_day] != undefined) {
                        var days_schedule = times[schedule_id][current_day],
			    current_time_fd = Number(generate_four_digit_time());
                        for (_period in days_schedule) {
                            period = days_schedule[_period]
                            if (period[1] >= current_time_fd && current_time_fd >= period[0]) {
                                return [_period, period]
                            }
                        }
                        return ["Out of Schedule", "No Time Available"]
                    }
                    return ["Out of Schedule", "No Time Available"]
                }
                
                function range(size, startAt=0) {
                    return [...Array(size).keys()].map(i => i + startAt);
                }
                function zero_time(time_zero) {
                    var tz = Number(time_zero),
                        tz_str = time_zero.toString();

                    if (tz < 10) {
                        return "0" + tz_str;
                    } else {
                        return tz_str;
                    }
                }
		function generate_four_digit_time(join_character="") {
			return [zero_time(current_time_split.split("-")[0]), zero_time(current_time_split.split("-")[1]), zero_time(current_time_split.split("-")[2])].join(join_character);
		}
                function calculate_time(st_time, ed_time) {
                    var start_time = st_time.toString(),
                        end_time = ed_time.toString();

                    var _st = start_time.split("-"),
		    	st_hr = Number(_st[0]),
		    	st_min = Number(_st[1]),
			st_sec = Number(_st[2]);

		    var _ed = end_time.split("-"),
		    	ed_hr = Number(_ed[0]),
		    	ed_min = Number(_ed[1]),
			ed_sec = Number(_ed[2]);

                    var hour_difference = ed_hr - st_hr,
                        minute_difference = ed_min - st_min,
			second_difference = ed_sec - st_sec;

                    if (minute_difference < 0) {
                        hour_difference -= 1
                        minute_difference += 60
                    }
		    if (second_difference < 0) {
			minute_difference -= 1
			second_difference += 60
		    }

                    return [hour_difference, minute_difference, second_difference]
                }

                function update_period() {
                    update_current_date();

                    const period_name = document.getElementById("period_name"),
                          period_time_remaining = document.getElementById("period_time_remaining"),
                          date = document.getElementById("date"),
                          time = document.getElementById("time");

                    var current_period = get_current_period(),
                        period_data_name = current_period[0],
                        period_data = current_period[1];
			
	            if (period_data_name != period_name_old) {
			    period_different = true;
		    } else {
		    	period_different = false;
		    }
		    period_name_old = period_data_name;

                    if (period_data != "No Time Available") {
                        var scheduled_end;
                        if (period_data[1].toString().length == 3) {
                            var str_pd_1 = period_data[1].toString();
                            scheduled_end = str_pd_1.substring(0, 1) + "-" + str_pd_1.substring(1, str_pd_1.length);
                        } else {
                            var str_pd_1 = period_data[1].toString();
                            scheduled_end = str_pd_1.substring(0, 2) + "-" + str_pd_1.substring(2, str_pd_1.length);
                        }
                        console.log(scheduled_end);
			    
			var time_difference = calculate_time(generate_four_digit_time(join_character="-"), scheduled_end),
                            compiled_time_diff;
                        if (time_difference[0] == 0) {
			    compiled_time_diff = time_difference[1] + "m" + time_difference[2] + "s";
                        } else {
                            compiled_time_diff = time_difference[0] + "h" + time_difference[1] + "m" + time_difference[2] + "s";                            
                        }
                    } else {
                        var time_difference = "NT",
                            compiled_time_diff = "";
                    }
			console.log(compiled_time_diff);

                    var hours = zero_time(current_time_split.split("-")[0]),
			minutes = zero_time(current_time_split.split("-")[1]),
			seconds = zero_time(current_time_split.split("-")[2]);

                    period_name.innerText = period_data_name;
		    if (period_different == true) {
			    period_different = false;
		    	    fifteen_minute_notification = false;
			    ten_minute_notification = false;
			    five_minute_notification = false;
			    one_minute_notification = false;
		    }
                    period_time_remaining.innerText = compiled_time_diff;
                    date.innerText = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"][d.getDay()];
                    time.innerText = hours + ":" + minutes + ":" + seconds;
			
			if (window_focused != true) {
				if (Number(time_difference[0]) == 0) {
					var minutes_left = Number(time_difference[1]);
					if (minutes_left == 15 && !fifteen_minute_notification) {
						show_notification(period_data_name, "Fifteen minutes");
						fifteen_minute_notification = true;
					} else if (minutes_left == 10 && !ten_minute_notification) {
						show_notification(period_data_name, "Ten minutes");
						ten_minute_notification = true;
					} else if (minutes_left == 5 && !five_minute_notification) {
						show_notification(period_data_name, "Five minutes");
						five_minute_notification = true;
					} else if (minutes_left == 1 && !one_minute_notification) {
						show_notification(period_data_name, "One minute");
						one_minute_notification = true;
					}
				}
			}
		}
		function show_notification(period_name="Unknown Period", time_remaining="XX minutes") {
			var title_text = "Schedules - " + period_name,
			    body_text = time_remaining + " left";
			
			if (!("Notification" in window)) {
				alert("This browser does not support system notifications");
			} else if (Notification.permission === "granted") {
				var notification = new Notification(title_text, { body: body_text, icon: "/static/img/apple-touch-icon.png" });
			} else if (Notification.permission !== 'denied') {
				Notification.requestPermission(function (permission) {
					if (permission === "granted") {
						var notification = new Notification(title_text, { body: body_text, icon: "/static/img/apple-touch-icon.png" });
					}
				});
			}
		}
		    
		window.onblur = function() { window_focused = false; }
		window.onfocus = function() { window_focused = true; }
		var one_second_loop = setInterval(update_period, 1000);
            </script>
		{% endif %}
		
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/css/schedule-colors.css">
	</body>
</html>
