<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Schedules | 404</title>

		<meta charset="utf-8">
		<meta name="theme-color" content="#13323C">
		<meta name="description" content="The app for all schedules">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
		<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon-180x180.png" />
		
		<link rel="stylesheet" href="/static/css/all.css">
		<link rel="stylesheet" href="/static/css/center.css">
	</head>
	<body>
		<header class="w3-container ut-pc-darkblue">
			<h3>
				Schedules
			</h3>
		</header>

		<main id="404_container" class="w3-card-4 ut-pt-center">
			<header id="404_header" class="w3-container w3-red">
				404: Unable to find schedule
			</header>
			<main id="404_message">
				The schedule you were looking for cannot be found. You will be redirected to the main page in 5 seconds.
			</main>
		</main>

        <script>
		window.setTimeout(function(){
			window.location.href = "https://" + window.location.host + "/";
		}, 5000);
        </script>
		
		<link rel="stylesheet" href="/static/css/w3.css">
		<link rel="stylesheet" href="/static/css/404.css">
	</body>
</html>
